<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <!-- Card para o formulário de recuperação de senha -->
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">
            <%= t('devise.passwords.recoverPassword') %> </h3>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group mt-3">
              <%= f.submit t('devise.passwords.resetInstructions'), class: "btn btn-success w-100" %>
            </div>
          <% end %>

          <div class="text-center mt-3">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
