
    <%= form_with(model: post) do |form| %>
      <% if post.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(post.errors.count, "error") %> erros imperdiram essa publicação de ser salva:</h2>
          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-control" %>
      </div>


      <div class="mb-3 d-flex flex-column">
        <%= form.label :tag_ids, "Tags" %>
        <%= form.select :tag_ids, PostTag.all.order(title: :asc).collect { |tag| [tag.title, tag.id] }, {}, { multiple: true, class: "form-control custom-select", size: 5 } %>
        <small class="form-text text-muted">Escolha uma tag para o post.</small>
      </div>
    

      
      <div class="mb-3">
        <%= form.label :file, "Upload de Arquivo (Opcional)" %>
        <%= form.file_field :file %>
      </div>

      <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>

