<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<small>Por <%= @post.user.email %></small>

<h2>Comentários</h2>
<% @post.comments.each do |comment| %>
  <p><%= comment.content %> - <%= comment.user&.email || 'Anônimo' %> 
    <% if comment.user == current_user || current_user.admin? %>
      <%= link_to 'Excluir', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este comentário?' } %>
    <% end %>
  </p>
<% end %>

<% if user_signed_in? %>
  <%= form_with model: [@post, @comment], url: post_comments_path(@post), local: true do |form| %>
    <div>
      <%= form.text_area :content, rows: 4, cols: 50 %>
    </div>
    <div>
      <%= form.submit 'Comentar' %>
    </div>
  <% end %>
<% end %>
